/*for any player-specific text*/
.p1 {
    color: #3498db;
}
.p2 {
    color: #e74c3c;
}
/*colors for chips*/
.player1 {
    background-color: #3498db;
}
.player2 {
    background-color: #e74c3c;
}
/*color for game board in dev*/
.dev-mode-chips {
    background-color: black;
    cursor: pointer;
}
/*main game title*/
#game_title {
    text-align: center;
    position: relative;
    text-shadow: 1px 0.01px 30px;
    font-family: "Exo 2";
}
/*left sidebar*/
#info-panel {
    top: 20px;
}
/*credits section, author sub-text*/
.credits #author{
    font-family: "courier new";
    font-style: italic;
}
/*for all developer mode objects*/
.dev-mode {
    display: none;
}
/*spacing for developer mode button*/
#dev-mode {
    margin-top: 2px;
}
#board-guide {
    margin-left: 200px;
    position: absolute;
    border-color: #ffffff;
}
#game-canvas {
    position: absolute;
    margin-top: -605px;
    margin-left: 90px;
    z-index: -3;
}
/*columns of game board*/
.columncontainer {
    display: inline-block;
    position: relative;
}
/*Inner columns*/
.column {
    border: 2px #724EB1;
    border-style: solid;
    display: block;
    position: relative;
    margin-top: 20px;
    height: 600px;
    width: 100px;
}
/*for first column offset*/
#c1 {
    margin-left: 90px;
}
/*icons to indicate winner*/
.player-icons#p1{
    margin-left: 47px;
}
.player-icons#p2{
    margin-left: 70px;
}
/*win icons*/
.player-icons.win#p1 {
    display: none;
}
.player-icons.win#p2 {
    display: none;
}
/*pointer icons to indicate current player*/
.player-icons.play#p1 {
    display: none;
}
.current-play.play#p2 {
    display: none;
}
/*mode icon stuff*/
.mode-icon#dev-mode-icon{
    display: none;
}
.mode-icon#play-mode-icon {
    margin: auto;
    margin-left: 50px;
    margin-top: -60px;
}
.mode-icon#dev-mode-icon {
    margin: auto;
    margin-left: 50px;
    margin-top: -60px;
}
#mode-panel > .panel-heading {
    height: 50px;
}
/*properties for each token (80x80px)*/
.chip {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin: auto;
    position: absolute;
    left:10px;
    top: 10px;
/*    z-index: 2;*/
}
/*hide alerts by default*/
.info {
    display: none;
}
/*player1Win alert modifier*/
#player1Win {
    background-color: #3498db;
    color: #ffffff;
}
/*player2Win alert modifier*/
#player2Win {
    background-color: #e74c3c;
    color: #ffffff;
}
/*spacing for buttons*/
#launch {
    margin-left: 5px;
}
#reset {
    margin-left: 15px;
}
#save {
    margin-left: 10px;
}
#load {
    margin-left: 20px;
}
/*reduce opacity of play mode button by default*/
#play-mode {
    opacity: 0.25;
}

#draw {
    background-color: #EDEDED;
    border-color: #724EB1;
}
/*player chip selection objects*/
.playerCircle {
    cursor: pointer;
}
.playerCircle.p1 {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin: inherit;
    position: absolute;
    left:10px;
    top: 10px;
    background-color: #3498db;
    opacity: 0.5;
    margin-top: 20px;
}
.playerCircle.p2 {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: absolute;
    left:10px;
    top: 10px;
    background-color: #e74c3c;
    opacity: 0.5;
    top: 30px;
    left: 845px;
}

.win-overlay {
    position: fixed;
    height: 100px;
    width: 500px;
    font-family: "exo 2";
    font-size: 60px;
    border-radius: 50px;
    top: -30%;
    left: 30%;
    z-index: 100;
    background-color: #EDEDED;
/*    display: none;*/
    opacity: 0.8;
    box-shadow: 0.1px 2px;
}

.blur {
    -webkit-transition: -webkit-filter 2s;
    -webkit-filter: blur(6px);
    filter: blur(2px);
}
