/*for any player-specific text*/
.p1 {
    color: #3498db;
}
.p2 {
    color: #e74c3c;
}
/*colors for chips*/
.player1 {
    background-color: #3498db;
}
.player2 {
    background-color: #e74c3c;
}
/*main game title*/
#game_title {
    text-align: center;
    position: relative;
    text-shadow: 1px 0.01px 30px;
    font-family: "Exo 2";
}
/*left sidebar*/
#info-panel {
    top: 20px;
}
/*credits section, author sub-text*/
.credits #author{
    font-family: "courier new";
    font-style: italic;
}
/*for all developer mode objects*/
.dev-mode {
    display: none;
}
/*spacing for developer mode button*/
#dev-mode {
    margin-top: 2px;
}
#board-guide {
    margin-left: 200px;
    position: absolute;
    border-color: #ffffff;
}
#game-canvas {
    position: absolute;
    margin-top: -605px;
    margin-left: 90px;
    z-index: -2;
}
/*columns of game board*/
.columncontainer {
    display: inline-block;
    position: relative;
    z-index: 2;
    cursor: hand;
}
/*Inner columns*/
.column {
    border: 2px #724EB1;
    border-style: solid;
    display: block;
    position: relative;
    margin-top: 20px;
    height: 600px;
    width: 100px;
}
/*for first column offset*/
#first {
    margin-left: 90px;
}

.buttoncontainer#first{
    margin-left: 200px;
}

.buttoncontainer {
    margin-top: 10px;
    padding-left: 25px;
    position: relative;
}
.gamebutton {
    background-color: #EDEDED;
    width: 50px;
    height: 20px;
}

/*icons to indicate winner*/
.player-icons#p1{
    margin-left: 47px;
}
.player-icons#p2{
    margin-left: 70px;
}
/*win icons*/
.player-icons.win#p1 {
    display: none;
}
.player-icons.win#p2 {
    display: none;
}
/*pointer icons to indicate current player*/
.player-icons.play#p1 {
    display: none;
}
.current-play.play#p2 {
    display: none;
}
/*mode icon stuff*/
.mode-icon#dev-mode-icon{
    display: none;
}
.mode-icon#play-mode-icon {
    margin: auto;
    margin-left: 50px;
    margin-top: -60px;
}
.mode-icon#dev-mode-icon {
    margin: auto;
    margin-left: 50px;
    margin-top: -60px;
}
#mode-panel > .panel-heading {
    height: 50px;
}
/*properties for each token (80x80px)*/
.chip {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin: auto;
    position: absolute;
    left:10px;
    top: 10px;
}
/*hide alerts by default*/
.info {
    display: none;
}
/*player1Win alert modifier*/
#player1Win {
    background-color: #3498db;
    color: #ffffff;
}
/*player2Win alert modifier*/
#player2Win {
    background-color: #e74c3c;
    color: #ffffff;
}
/*spacing for reset button*/
#reset {
    margin-top: 2px;
}
/*reduce opacity of play mode button by default*/
#play-mode {
    opacity: 0.25;
}

#draw {
    background-color: #EDEDED;
    border-color: #724EB1;
}
/*player chip selection objects*/
.playerCircle {
    cursor: pointer;
}
.playerCircle.p1 {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin: inherit;
    position: absolute;
    left:10px;
    top: 10px;
    background-color: #3498db;
    opacity: 0.5;
    margin-top: 40px;
}
.playerCircle.p2 {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: absolute;
    left:10px;
    top: 10px;
    background-color: #e74c3c;
    opacity: 0.5;
    top: 50px;
    left: 845px;
}
